h2{
    color: darkgreen;
    background-color: yellow;
}
.special_thing {
    background-color: aqua;
    border-left: 6px solid red;
}

h3,p {
    color: coral;
}
#second_half p{
    color: darkviolet;
    font-size: 2em;
    font-style: italic;
    text-decoration: dashed;
    text-transform: uppercase;
    text-align: center;
    line-height:2em;
    

}