@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:ital@1&display=swap');


.nav-item{
    font-size:large;
   
}

body>p{
    font-family: 'Poppins',sans-serif;
    background-color: rgb(240, 210, 99);
    margin:5px
    
}

h1{
    font-size: xx-large;
    text-decoration: dashed;
}
h2{
    font-size: larger;
    text-decoration:wavy;
    background-color: chartreuse;

}
footer{
    text-align: right;
    font-size: larger;
    font-family:'Times New Roman', Times;
    font-style: italic;
    background-color: blue;
    color: aliceblue;
}

.image {
        display: block;
        width: 100%;
        height: auto;
      }
a.link{
    color: orange;
    background-color: orchid;
}
#Evergrande{
    border: 2px thick aqua;
    padding: 5px;
    background-color: aqua;
      text-align: center;
}

table {  
    border-collapse: collapse;
    align-content: center;
}
td,th{
    padding: 5px;
    border: 1px solid black;
    color: blue;
}
th {background-color: antiquewhite;
    color: crimson;
}
    