/* p{
    font-family: Arial, Helvetica, sans-serif;
} */

/* 
#idname{
    font-family: Arial;
} */

/*  
.classname{
    font-family:Arial;
}
*/


@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Poppins:ital@1&display=swap');




body>p{
    font-family: 'Poppins',sans-serif;
    background-color: rgb(240, 210, 99);
    margin:5px
    
}
body
{
    background-color:darkorchid;
}

h2{
    font-size: larger;
    text-decoration:wavy;

}
footer{
    text-align: right;
    font-family:'Times New Roman', Times;
    font-style: italic;
    background-color: steelblue;
    color: aliceblue;
}

.TopLink p{
    background-color: aliceblue;
    font-size: large;
    font-family:Merriweather;

}
.Topnav{
    background-color: rgb(47, 53, 107);

    overflow:visible;
    float:inline-start;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.TopLink a:hover{
    background-color: dimgray;
    padding: 5px;
    padding-left: 30%;
    padding-right: 30%;
    color: lightgreen;
}
.TopLink a.active {
    background-color: aqua;
    color: white;
}



.image {
        display: block;
        width: 100%;
        height: auto;
      }
a.link{
    color: orange;
    background-color: orchid;
}
#Evergrande{
    border: 2px thick aqua;
    padding: 5px;
    background-color: aqua;
      text-align: center;
}

table {  
    border-collapse: collapse;
    align-content: center;
}
td,th{
    padding: 5px;
    border: 1px solid black;
    color: blue;
}
th {background-color: antiquewhite;
    color: crimson;
}
    
    
            

@media screen and (min-width: 700px) {
    body {
      background-color: rgb(160, 214, 160);
    }
    .Topnav{
        background-color: darkolivegreen;
    }
    .image{
        width: 90%;
        height: auto;
    }
    h2{
        text-align: center;
    }
  }
@media screen and (min-width: 1000px) {
    body{
      background-color: rgb(139, 139, 191);
    }
    body.p   {
        background-color: rgb(144, 201, 153);
    }
    h2{
        text-align: center;
    }
}



